

/*****************************************************
*****************  General CSS  *******************
*****************************************************/

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 1.8em;
    color: #777;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding: 0!important;
    background-color: #c1bdba;
}

.main-content-wrapper {
    position: relative;
    z-index: 2;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}




/*===============================
 ==========  Logo  ==========
*===============================*/

.brand-logo {
    float: left;
    line-height: 100%;
    position: relative;
    z-index: 1;
}

.brand-logo a {
    display: block;
}

.brand-logo img {
    padding-top : 10px;
    height: 60px;
    display: block;
    max-width: 100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.navbar-brand {
    padding: 0px;
}


/*===============================
 ========  Main Menu  =======
*===============================*/

.main-nav {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 0px;
    position: relative;
    width: 100%;
    height: 90px;
    text-align: left;
    z-index: 1030;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.main-nav .inner-nav {
    float: right
}

.menu-sticky {
    height: 75px !important;
    position: fixed !important;
    left: 0px;
    right: 0px;
    top: 0;
}

.menu-sticky .inner-nav>ul>li>a {
    line-height: 75px !important;
}

.menu-sticky .brand-logo img,
.menu-sticky .navbar-toggle {
    height: 55px !important
}

.navbar-toggle {
    float: right;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-toggle button {
    height: 100%;
    background-color: transparent;
    border: 0;
}

.menu-transparent {
    background-color: transparent !important;
    position: fixed !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 0px !important
}

.menu-transparent.push-top {
    margin-top: 30px
}

.main-nav.js-transparent {
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.main-nav.menu-dark {
    background-color: #232323;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

.main-nav.menu-dark .inner-nav > ul > li > a,
.main-nav.menu-dark .navbar-toggle i {
    color: #ececec;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.main-nav.menu-dark .inner-nav > ul > li > a:hover,
.main-nav.menu-dark .inner-nav > ul > li > a:focus,
.main-nav.menu-dark .navbar-toggle i:hover,
.main-nav.op-nav.menu-dark .inner-nav > ul > li.active > a {
    color: #fff
}

.main-nav.menu-light {
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9
}

.main-nav.menu-light .inner-nav > ul > li > a,
.main-nav.menu-light .navbar-toggle i {
    color: #777;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.main-nav.menu-light .inner-nav > ul > li > a:hover,
.main-nav.menu-light .inner-nav > ul > li > a:focus,
.main-nav.menu-light .navbar-toggle i:hover,
.main-nav.op-nav.menu-light .inner-nav > ul > li.active > a {
    color: #000
}

.main-nav .inner-nav > ul > li > a {
    padding: 0px 15px;
    line-height: 90px;
    display: block
}

.navbar-toggle {
    margin: 0;
    padding: 0;
    height: 90px
}

.navbar-toggle .icon-bar {
    background-color: #3e3e3e
}


/*****************************************************
*****************  Back TO Top *******************
*****************************************************/

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 35px;
    background: rgba(0, 0, 0, .4);
    color: #ececec;
    font-size: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top:hover {
    background: #3e3e3e;
}

#back-to-top.show {
    opacity: 1;
}


/*****************************************************
*****************  Hero Caption *******************
*****************************************************/



.hero-caption {
    position: absolute !important;
    z-index: 100
}

.hero-caption.caption-center {
    left: 0;
    right: 0;
    text-align: center
}


.hero-caption.caption-height-center {
    top: 35%;
    color: #f9f9f9;
}

.btn-lg:hover{
    color: #1ab188;
}
